.image {
    width: 300px;
    margin-top: 100px;
}

.list {
    list-style: none;
    display: inline-block;
    padding: 0 80px;
    justify-content: space-between;
    /* padding: 120px; */
}

input[type="button"] {
    height: 50px;
    width: 200px;
    color: rgb(15, 176, 204);
    background-color: rgb(16, 47, 77);
    border-color: rgb(15, 176, 204);
    border-width: 3px;
    border-style: solid;
    font-family: Kaushan Script;
    font-size: 24px;
    border-radius: 20px;
    margin-top: 100px;
}

input[type="button"]:focus {
    outline: none;
}

input[type="button"]:hover {
    background: rgb(12, 36, 59);
    color: rgb(165, 165, 23);
    border-color: rgb(27, 80, 133);
}

input[type="button"]:active {
    background-color: rgb(165, 165, 23);
    border-color: rgb(12, 36, 59);
    color: rgb(12, 36, 59);
}

@media (max-width: 540px) {
    .list {
        padding: 0;
    }
}